<footer class = "site-footer">
  <div class = "two-column-footer">
    <div> 
       <img src = "/assets/images/logoFooter.svg"/ alt="Windsorites for Safe Streets Logo">
    </div>
    <p> A community coalition advocating for evidence-based safer street policy in Windsor. </p>
  </div>
</footer>