<section class = "website-section">
    {% if section.data.hero %} 
    <div
        class="hero-image"
        style="background-image: 
                linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.75)),
                url('{{ section.data.image }}'); 
            "
            >
        <h2 class = "hero-section">
            <span class = "light-text"> {{ section.data.title_light }} </span>
            <span class = "bold-text"> {{ section.data.title_bold }} </span>
        </h2>
        <p>{{ section.data.description }} </p>
    </div>
    {% else %}
    <div 
        class = "section-regular"
        style="--bg: {{ section.data.bgColour }};
                --hcolour: {{ section.data.headingColour }}
                --txtcolour: {{ section.data.txtColour }}
            "
    >
    
        <h3 class = "section-title">
            {{ section.data.title }}
        </h3>
        <p>{{ section.data.description }} </p>
    </div>
    {% endif %}
    {{content|safe}}
</section>

